$primary: #0B758C;
$secondary: #54A1BF;
$light : #C4E1F2;
$info: #095573;
$dark: #011C26;
$success: #238C5B;

$font-family-sans-serif: 'Inter', sans-serif;
$font-family-serif: 'Playfair Display', serif;

@import "~bootstrap/scss/bootstrap";
