{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}

<div class="container p-5">
    <h1 class="text-center m-5">Votre commande a été validée !</h1>
    <div class="text-center">
        <a class="btn btn-primary" href="/home">Retour à l'accueil</a>
    </div>
</div>

{% endblock %}
